<!DOCTYPE html>
<html>
<head>
  <title>Store Management App</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
    store management
  </header>
  <main>
  </main>
  <footer>
    store management
  </footer>
</body>
</html>
